#dFullScreen{
	width:800px;
	height:600px;
	top:0%; 
	background-image:url("../images/wall-hg1.png") ;
}
#dGrid{
	background-size:100%;
	top:60px;
	left:210px;
	width:420px;
	height:420px; 
	padding:0px;
	margin:0px;

    border-collapse:collapse;
    border-spacing:0;
}
#dGridPlay{
	/*/background-image:url("../images/grid.png") ;*/
	background-size:100%;
	top:210px;
	left:365px;
	width:244px;
	height:244px;
	border:none;
}
#dPortrait{
	top:40px;
	border-color: red ;
	left:41px;
	width:100px;
	height:134px;
	opacity:0.5;
}

#dLocation{
	border-color: blue ;
	top:33px;
	left:666px;
	width:100px;
	height:100px;
}
#dQuickNav{
	border: orange dotted;
	top:500px;
	left:81%;
	width:15%;
	height:14%;
}
#dMarks{ 
	top:310px;
	left:15px;
	width:143px;
	height:201px;
	padding-top:30px;
	padding-left:15px;
	background-image:url("../images/markmenu.png");
	background-repeat:no-repeat;
	border:none;
}
#dReveal{ 
	top:206px;
	left:33px;
	width:80px;
	height:65px;
	background-image:url("../images/btnReveal.png");
	background-repeat:no-repeat;
	border:none;
}
#dReveal:hover{ 
	background-position-y:-65px;
}
#dSpeech{ 
	border-width:0px;
	top:5px;
	left:200px;
	width:420px;
	height:142px;
	background-repeat:no-repeat;
	z-index:10;
	
}
#dSpeechNext{
	border-color: green ;
	border-width:4px;
	top:80%;
	left:90%;
	width:14%;
	height:24%;
}
#dDialogue{
	z-index:100;
	background-color:rgba(155, 155,155, 0.6);  
	width:100%;
	height:100%;
	margin:auto;
	position:absolute;
	top:0px;
	left:0px;
}
#tblLocPuz{
	width:555px; 
}
#dGlyphlets{
	display:block;
	background-image:url("../images/glyphletsbackground.png");
	background-repeat:no-repeat;
	border:none;
	min-width:143px;
	min-height:201px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	
}
#dGlyphletConfirm{
	display:block;
	background-image:url("../images/btnWide.png");
	border:none;
	background-repeat:no-repeat;
	min-width:160px;
	min-height:42px;
	text-align:center;  
	top: 110%;
	vertical-align: middle;
	line-height: 42px;   
	left: 50%;
	transform: translate(-50%, 0%);
}

#dGlyphletConfirm:hover{ 
	background-position-y:-42px;
}
#tblGlyphlets{
	position:absolute;
	background-repeat:no-repeat;
	background-size:100%;
	top: 48px;
	left:22px; 
	height:95px;
	width:95px;
}
#dLocPuzConfirm{
	display:block;
	background-image:url("../images/btnWide.png");
	background-repeat:no-repeat;
	border:none;
	min-width:160px;
	min-height:42px; 
	text-align:center;  
	vertical-align: middle;
	line-height: 42px;    
    left: 50%;
    transform: translate(-50%, 0%);
}
#dLocPuzConfirm:hover{ 
	background-position-y:-42px;
}

#dClock{ 
	top:310px;
	left:680px;
	width:100px;
	height:32px; 
	vertical-align: middle;
	text-align:center;  
	line-height: 32px;   
    text-shadow: 0px 0px 11px #ddd;
	color:red;
	border:none;
	font-size:xx-large;
	font-weight:bold;
	
}
#dLogo{
	
	min-width:800px;
	min-height:600px;
	top:0%; 
	background-image:url("../images/hg-logo.png") ;
	z-index:20; 
  transform: translate(-50%, -50%);
}
#dTitle{
	
	min-width:800px;
	min-height:600px;
	top:0%; 
	background-image:url("../images/temp-ttl.png") ;
	z-index:10; 
  transform: translate(-50%, -50%);
}