#dFullScreen{
	width:800px;
	height:600px;
	top:0%; 
	background-image:url("../images/stage00.jpg") ;
}
#dGrid{
	background-image:url("../images/grid.png") ;
	background-size:100%;
	top:145px;
	left:200px;
	width:344px;
	height:344px;
	border:none;
}
#dPortrait{
	border-color: red ;
	top:33px;
	left:33px;
	width:100px;
	height:150px;
	opacity:0.5;
}

#dLocation{
	border-color: blue ;
	top:33px;
	left:666px;
	width:100px;
	height:100px;
}
#dQuickNav{
	border: orange dotted;
	top:500px;
	left:81%;
	width:15%;
	height:14%;
}
#dMarks{ 
	top:310px;
	left:15px;
	width:143px;
	height:201px;
	padding-top:30px;
	padding-left:15px;
	background-image:url("../images/markmenu.png");
	background-repeat:no-repeat;
	border:none;
}
#dReveal{ 
	top:206px;
	left:33px;
	width:80px;
	height:65px;
	background-image:url("../images/btnReveal.png");
	background-repeat:no-repeat;
	border:none;
}
#dReveal:hover{ 
	background-position-y:-65px;
}
#dSpeech{
	border-color: violet ;
	border-width:4px;
	top:5px;
	left:200px;
	width:420px;
	height:142px;
	background-repeat:no-repeat;
	
}
#dSpeechNext{
	border-color: green ;
	border-width:4px;
	top:80%;
	left:90%;
	width:14%;
	height:24%;
}
#dDialogue{
	z-index:100;
	background-color:rgba(155, 155,155, 0.6);  
	width:100%;
	height:100%;
	margin:auto;
}
#tblLocPuz{
	width:555px; 
}
#dGlyphlets{
	display:block;
	background-image:url("../images/glyphletsbackground.png");
	background-repeat:no-repeat;
	border:none;
	min-width:143px;
	min-height:201px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	
}
#dGlyphletConfirm{
	display:block;
	background-image:url("../images/btnWide.png");
	border:none;
	background-repeat:no-repeat;
	min-width:160px;
	min-height:42px;
	text-align:center;  
	top: 110%;
	vertical-align: middle;
	line-height: 42px;   
}

#dGlyphletConfirm:hover{ 
	background-position-y:-42px;
}
#tblGlyphlets{
	position:absolute;
	top: 48px;
	left:22px; 
	height:95px;
	width:95px;
}
#dLocPuzConfirm{
	display:block;
	background-image:url("../images/btnWide.png");
	background-repeat:no-repeat;
	border:none;
	min-width:160px;
	min-height:42px;
	margin:auto;
}
#dLocPuzConfirm:hover{ 
	background-position-y:-42px;
}