
#pSpeech{
	
	padding-left:43px;
	padding-top:13px;
	color:white;
    text-shadow: 0px 0px 6px #333;
	width:350px;
	}
	
.cel{
	border:1px solid black;
	background-image:url("../images/marks.png");
}
.cel:hover{
	box-shadow: 0px 0px 2px 2px  #888888; 
}
.glyphletselection{
	border:1px solid red;
}
.glyphletselection:hover{
	
	box-shadow: 0px 0px 2px 2px  #888888; 
}

.squarecel{
	height:33px;
	min-width:33px;
	user-select:none;
	text-align:center;
}

.hc{
	border:0px;
	border-top:solid 1px black;
	user-select:none;
}

.vc{
	border:0px;
	border-left:solid 1px black;
	user-select:none;
}
.onemark{
	width:20px;
	height:20px;
	background-image:url("../images/marks.png");
	color:white;
	padding:0px;
	margin:0px;
}
.onemark:hover{
	
  box-shadow: 0px 0px 2px 2px  #888888;
}
.dialoguechild{
	opacity:1;
	margin:auto;
	padding:auto;
}