.dCell{
	position:absolute;
	margin:0px;
	padding:0px;
	border:none;
}
.rowlocpuz{
	/*height:50px;*/
}

.cel5{
	width:5px; 
	height:5px;
	background-image:url('../images/marks/marks5.png')
}

.cel7{
	width:7px; 
	height:7px;
	background-image:url('../images/marks/marks7.png')
}
.cel8{
	width:8px; 
	height:8px;
	background-image:url('../images/marks/marks8.png')
}
.cel10{
	min-height:10px;
	min-width:10px;  
}
.cel14{
	height:14px;
	min-width:14px; 
}
.cel20{
	height:20px;
	min-width:20px; 
}
.cel24{
	height:24px;
	min-width:24px; 
}
.cel35{
	height:35px;
	min-width:35px; 
}
.cel40{
	min-width:40px; 
	height:40px;
}

#tblPlay{
        border-collapse: collapse;
	border:0px;
	padding:0px;
	margin:0px;
}
.cel{
	border:none; 
}
.cel:hover{
	box-shadow: 0px 0px 2px 2px  #888888; 
}

.squarecel{ 
	user-select:none;
	text-align:center;
	padding:0px;
	margin:0px;
}

.uc{
	border:none;
	user-select:none;
	font-size:small;
}
.ulight{
	background-color:rgba(222,222,222,0.6);
}