
#pSpeech{
	
	padding-left:43px;
	padding-top:13px;
	color:white;
    text-shadow: 0px 0px 6px #333;
	width:350px;
	}
	
.cel{
	border:none
}
.cel:hover{
	box-shadow: 0px 0px 2px 2px  #888888; 
}
.glyphlet{
	border:1px solid red;
	background-repeat:no-repeat;
}
.glyphlet:hover{
	
	box-shadow: 0px 0px 2px 2px  #888888; 
}

.squarecel{
	font-size:8pt;
	user-select:none;
	text-align:center;
}

.hc{
	border:none;
	user-select:none;
}

.vc{
	border:none;
	user-select:none;
}
.onemark{
	width:20px;
	height:20px;
	background-image:url("../images/marks/marks20.png");
	color:white;
	padding:0px;
	margin:0px;
}
.onemark:hover{
	
  box-shadow: 0px 0px 2px 2px  #888888;
}
.dialoguechild{
	opacity:1;
	margin:auto; 
}
#dRevealChargeBox{ 
	top:206px;
	left:120px;
	width:35px;
	height:65px;
	border:none;
}
.oneRevealCharge{ 
	display:block;
	min-width:14px;
	width:14px;
	height:19px;
	background-image:url("../images/extras/charges.png");
	background-repeat:no-repeat;
	border:none;
}
.oneStage{
	
	min-width:160px;
	height:120px; 
	padding:10px;
}
.stagecel{
	 
	width:120px;
	height:120px; 
	background-repeat:no-repeat; 
}
.stagecel:hover{
	
  box-shadow: 0px 0px 22px 22px  #cc1;
	background-position-y:-120px;
}

.stageLeft{
	margin-right:40px;
}
.stageRight{
	margin-left:40px;
}
.hideonload{
	display:none;
}